

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    color: $lightgreen;
}

.two {
    background-color: $lightgreen;
    color: $dark;
}

.three {
    background-color: $mediumgreen;
}

.four {
    background-color: $darkgreen;
    color: $dark;
}

.five {
    background-color: $orange;
}

.box {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {text-align: center;}